@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
/*font-family: 'Quicksand', sans-serif;*/
/*font-family: 'Oswald', sans-serif;*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px !important;
  padding: 0px;
}

.container img {
  width: auto;
  height: 100%;
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
  display: block;
}

.navigation {
  position: absolute;
  -webkit-transform: translate(60px, -160%);
          transform: translate(60px, -160%);
}

nav ul {
  text-decoration: none;
}

nav ul li {
  color: #cc8417;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  font-size: 35px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  text-decoration: none;
}

nav ul li a {
  text-decoration: none;
}

#trapholt:hover {
  color: #0C4C8A;
  font-size: 37px;
  text-shadow: 2px 2px #444444;
}

#udstillingen:hover {
  color: #5587A2;
  font-size: 37px;
  text-shadow: 2px 2px #444444;
}

#aktiviteter:hover {
  color: #F6D258;
  font-size: 37px;
  text-shadow: 2px 2px #444444;
}

#information:hover {
  color: #88B14B;
  font-size: 37px;
  text-shadow: 2px 2px #444444;
}

#cafe:hover {
  color: #EF562D;
  font-size: 37px;
  text-shadow: 2px 2px #444444;
}

#webshop:hover {
  color: #EFCEC5;
  font-size: 37px;
  text-shadow: 2px 2px #444444;
}

/* --------- udstillingen ---------- */
.udtillingenbaggrund {
  background-color: #5587A2;
  width: 100%;
  height: 6000px;
  margin: 0;
  padding-top: 1.5%;
}

.headerboks {
  background-color: #ffffff;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headertekststor {
  color: #000000;
  font-size: 34px;
  font-family: 'Oswald', sans-serif;
}

.headertekst {
  color: #000000;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.slideshows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mySlides {
  display: none;
  margin-top: 30px;
  margin-bottom: 30px;
}

.citatbaggrund {
  background-color: #ffffff;
  opacity: 50%;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  margin-bottom: 1.5%;
}

.citattekstboks {
  margin-left: 400px;
}

.vernersudstilling {
  padding-top: 10%;
  color: #000000;
  width: 60%;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.citattekst {
  padding-top: 10%;
  margin-bottom: 10%;
  color: #000000;
  width: 60%;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
}

.citattekst span {
  font-weight: bold;
  z-index: -1000;
  margin-bottom: 100px;
}

.vernerpantonoverskrift {
  background-color: #ffffff;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.headertekstverner {
  color: #000000;
  font-size: 34px;
  font-family: 'Oswald', sans-serif;
}

.opaboks {
  background-color: #ffffff;
  opacity: 50%;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.venstreboks {
  width: 55%;
  height: auto;
  margin-left: 138px;
  margin-top: 100px;
}

.verneroverskrift {
  color: #000000;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  margin-bottom: 25px;
}

.vernerbrødtekst1 {
  color: #000;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}

.startenheadertekst {
  color: #000000;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  margin-bottom: 10%;
}

.startenbrødtekst {
  color: #000;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}

.modstandsheder {
  color: #000000;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  margin-bottom: 25px;
}

.modstandbrødtekst {
  color: #000;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 15%;
}

.højreboks {
  width: 45%;
  height: 400px;
  gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  padding-left: 75px;
}

.højreboks img {
  width: 300px;
  height: 300px;
}

.vernerbilledeafsnit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10%;
}

/* --------- om trapholt ---------- */
.omtrapholtbaggrund {
  background-color: #0C4C8A;
  width: 100%;
  height: auto;
  margin: 0;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  z-index: 1;
}

.trapholtmuseumbillede {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.trapholttekstboks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 300px;
  text-align: center;
}

.trapholttekst {
  color: #F6D258;
  font-size: 40px;
  font-family: 'Quicksand', sans-serif;
  width: 60%;
}

.trapholtboks2 {
  margin-top: 30px;
  height: 850px;
  width: 100%;
  background-color: #ffffff;
  opacity: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.trapholtvenstre {
  width: 50%;
  height: 1200px;
  margin-left: 100px;
}

.toptekst {
  color: #000000;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 25px;
  z-index: 10000;
}

.trapholtarkitektur {
  color: #000000;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  margin-bottom: 25px;
}

.arkiteksturtekst {
  color: #000;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}

.vernerpantonmidheader {
  color: #000000;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  margin-bottom: 25px;
}

.vernerpantonmidtekst {
  color: #000;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}

.praktiskheader {
  color: #000000;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  margin-bottom: 25px;
}

.prakrisktekst {
  color: #000;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}

.headerbokshistorie {
  background-color: #ffffff;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1%;
}

.opahistorie {
  margin-top: 30px;
  height: 1500px;
  width: 100%;
  background-color: #ffffff;
  opacity: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.historievenstre {
  padding-top: 100px;
  margin-left: 100px;
  width: 30%;
}

.gustavlindbilledetekst {
  padding-top: 40px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

.historiehøjre {
  padding-top: 100px;
  width: 50%;
}

.historietoptekst {
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  padding-bottom: 120px;
}

.historiebundtekst {
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
}

/* --------- Information ---------- */
.informationbaggrund {
  background-color: #88B14B;
  width: 100%;
  height: 10000px;
}

.headerboksinformation {
  background-color: #ffffff;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

.headeråbning {
  background-color: #ffffff;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  font-size: 34;
  font-family: 'Oswald', sans-serif;
}

.åbningstekst {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

#infobillede {
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}

.åbningstiderboks {
  position: absolute;
  -webkit-transform: translate(60%, -100.6%);
          transform: translate(60%, -100.6%);
  width: 300px;
  height: 700px;
  background-color: #ffffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  font-family: 'Quicksand', sans-serif;
  line-height: 10px;
  border-spacing: 75px;
}

#dage {
  font-weight: bold;
}

.infopa {
  margin-top: 1.5%;
  width: 100%;
  height: 550px;
  background-color: #ffffff;
  opacity: 50%;
}

.tekstboksåben {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
  margin-left: 20%;
}

.venstresæråben {
  width: 50%;
}

.særåbenheader {
  font-family: 'Oswald', sans-serif;
  color: #000000;
  margin-top: 10%;
  margin-bottom: 5%;
  font-size: 30px;
}

.særåbentekst {
  line-height: 60px;
  font-size: 25px;
  color: #000000;
  font-family: 'Quicksand', sans-serif;
}

.højresæråben {
  width: 50%;
}

.helligåbenheader {
  font-family: 'Oswald', sans-serif;
  color: #000000;
  margin-top: 10%;
  margin-bottom: 5%;
  font-size: 30px;
}

.helligåbentekst {
  line-height: 60px;
  font-size: 25px;
  color: #000000;
  font-family: 'Quicksand', sans-serif;
}

#lampemedcirkler {
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}

.priserboks {
  position: absolute;
  -webkit-transform: translate(250%, -100.6%);
          transform: translate(250%, -100.6%);
  width: 350px;
  height: 700px;
  background-color: #ffffff;
  border-spacing: 10px;
  padding: 0;
  margin: 0;
}

table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Quicksand', sans-serif;
  line-height: 20px;
  border-spacing: 75px;
}

#entre {
  font-weight: bold;
  text-align: justify;
}

#pris {
  text-align: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.thetabledouble {
  margin-top: 1.5%;
  width: 100%;
  height: 650px;
  background-color: #ffffff;
  opacity: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#infotabel {
  width: 40%;
}

#overskriftinfo {
  color: #000000;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
}

#underskriftinfo {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: #000000;
}

.højreinfoboks {
  width: 20%;
  margin-top: 3%;
}

.højreinfotekst {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: #000000;
  margin-top: 1.5%;
}

.praktiskopaboks {
  margin-top: 1.5%;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  opacity: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* --------- Cafe Gustav Lind ---------- */
.cafebaggrund {
  background-color: #EF562D;
  width: 100%;
  height: 1500px;
  margin: 0;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

#cafegustavlindbillede {
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1.5%;
}

.cafeobservation {
  position: absolute;
  -webkit-transform: translate(35%, -102.8%);
          transform: translate(35%, -102.8%);
  width: 300px;
  height: 700px;
  background-color: #ffffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cafeåbningstider {
  padding-top: -20px;
  line-height: 12px;
}

.opaobservation {
  width: 100%;
  height: 600px;
  background-color: #ffffff;
  opacity: 50%;
}

#menukortknap {
  font-family: 'Oswald', sans-serif;
  background-color: #ffffff;
  border-radius: 50px 50px;
  width: 200px;
  height: 60px;
  margin-left: 70%;
}
/*# sourceMappingURL=style.css.map */